{% comment %}
This template was used before I built the game_list_cards template

I keep it in case I want to show different list views
{% endcomment %}
{% for game in games %}
	<div class="flex mb-12">
		<div class="w-40 ">
			<a href="{{game.url}}" class="inline-block p-1 border border-blue-500 border-dotted">
				{% if game.data.image %}
					<img src="/games/{{game.data.image}}" />
				{% else %}
					<div class="w-32 h-32 bg-gray-200">&nbsp;</div>
				{% endif %}
			</a>
		</div>
		<div class="flex flex-col flex-1 ml-4">
				<h2 class="text-lg font-bold">
					<a href="{{game.url}}" class="text-blue-600">{{game.data.title}}</a>
				</h2>
				<div class="flex-1">
					{% excerpt game %}
				</div>
				<div class="order-2 mt-4 mb-4">
					{% include partials/tags tags: game.data.tags %}
				</div>
		</div>
	</div>
{% endfor %}
