<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
	<link rel="stylesheet" href="/styles/index.css" />
  </head>
  <body>
	  <div class="bg-blue-100 ">
		  <div class="container py-5 mx-auto">
			<nav class="flex justify-between">
				<div class="font-bold">
					<a href="/">Gabriels RPG library</a>
				</div>
				<ul class="flex flex-row">
					<li class="pr-5"><a href="/" class="text-blue-800">Games</a></li>
					<li><a href="/tags/" class="text-blue-800">Tags</a></li>
				</ul>
			</nav>
		  </div>
	  </div>
	<main class="container mx-auto mt-8">
    	{{ content | safe }}
	</main>
  </body>
</html>
