---
layout: layouts/base.liquid
---
<div class="mb-8 flex items-end">
	<h1 class="text-xl font-bold flex-1">All games</h1>
	<p class="text-sm italic"> {{ collections.all_games.length }} games</p>
</div>

{% include game_list games: collections.all_games %}
