---
pagination:
  data: collections
  size: 1
  alias: tag
  addAllPagesToCollections: true
  filter:
    - all_games
    - all
    - tagList
layout: layouts/base.liquid
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag | slug }}/
---
{% assign games = collections[tag] | sortByTitle %}

<div class="mb-8 flex items-end">
	<h1 class="text-xl font-bold flex-1">Tagged “{{ tag }}”</h1>
	<p class="text-sm italic"> {{ games.length }} games</p>
</div>
{% include game_list_cards %}

